<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join Page</title>
</head>
<body>

join page
<hr>
<form action="/joinProc" method="post" name="joinForm">
    <input id="username" type="text" name="username" placeholder="id"/>
    <input id="password" type="password" name="password" placeholder="password"/>
    <input type="submit" value="join"/>
</form>

</body>
</html>